body {
    background-color: cadetblue;
    margin: 0;
}

.red {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    /* display:inline-block;*/
    left: 200px;
}

.blue {
    width: 200px;
    height: 200px;
    background-color: rgb(127, 77, 12);
    position: relative;
    bottom: 200px;
    /* by using display:inline-block; we can avoid writing more lines of css*/
    left: 400px;


}

.green {
    width: 200px;
    height: 200px;
    background-color: rgb(136, 181, 63);
    position: relative;
    /* display:inline-block;*/
    bottom: 400px;
}